* {
  margin: 0;
}

.top-pane {
  background-color: lightslategray;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor__container {
  flex-grow: 1;
  flex-basis: 0;
  /* flex basis makes them same size */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #3d3d45;
}

.editor__title {
  display: flex;
  justify-content: space-between;
  background-color: #29292c;
  padding: 1rem;
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.react-codemirror2 {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.collapsed {
  flex-grow: 0;
}

.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.editor__button{
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  outline: none;
}